/* Color titulos: #f59432 */
/* Color texto: #fff */
/* Color fondo: #b8d3df */

html, body {
    background-color: #b8d3df;
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: white;
    padding: 10px 20px;
}

.logo {
    width: 70px; /* Ajustar el tamaño del logo */
}

.titulo {
    color: #f59432;
    font-size: 24px;
    font-weight: bold;
}

.bandera {
    max-width: 25px;
    cursor: pointer;
}
