/* Color titulos: #f59432 */
/* Color texto: #fff */
/* Color fondo: #b8d3df */

html, body {
    background-color: #b8d3df;
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: white;
    padding: 10px 20px;
}

.logo {
    width: 70px;
}

.titulo {
    color: #f59432;
    font-size: 24px;
    font-weight: bold;
}

.bandera {
    max-width: 25px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.bandera:hover {
    transform: scale(1.1);
}

@media (max-width: 991px) { 

    .navbar-toggler {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .navbar-nav {
        align-items: center !important;
        text-align: center !important;
        width: 100%;
    }

    .navbar-nav .nav-item {
        text-align: right;
    }

    .navbar-nav.d-flex {
        flex-direction: column;
    }
}
