.container{
    padding: 0 !important;
    margin: 0 auto !important;
}

.footer {
    background-color: #364F59;
    text-align: center;
    color: white;
    padding: 0;
    margin: 5% 0 0;
}

.contadores {
    background-color: #f7931e;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
}

.contador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; 
}


.contador h2 {
    margin: 5px 0;
    font-size: 24px;
    font-weight: bold;
}

/* Información */
.informacion {
    width: 100%;
    padding: 10px;
    border: 1px solid #284753;
}

.informacion a {
    text-decoration: none;
    color: white;
}


.imagenes {
    display: flex;
    justify-content: center;
    margin: 0 10% 15px;
}

.imagenes img {
    width: 30px;
    height: 50px;
    margin: 0 5px;
    transition: transform 0.3s ease-in-out;
}

.imagenes img:hover {
    transform: scale(1.1);
}

/* Copyright */
.copyright {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.copyright img {
    width: 80px;
    height: auto;
}

.copyright h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.copyright p {
    font-size: 14px;
    margin: 0;
}

