.titulos {
    display: flex;
    gap: 10px;
    color: #364F59;
}

.MenuEmpresa {
    background-color: white;
    padding: 15px 20px;
}

.naranja {
    color: #f59432;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #364F59;   
}